{{yield}}
<div class="blog-entry">
  <h3>{{blog.title}}</h3>
  <p class="author">By {{blog.author}}</p>
  <img src={{blog.image}}/>
  <p class="credit">{{blog.credit}}</p>
  <p class="body">{{blog.body}}</p><br>
</div>
<button class="btn btn-danger" {{action 'delete' blog}}>Delete blog</button>
